:root {
  --clr-moon-a0: #2a2d3f;
  --clr-moon-a10: #464a6d;
  --clr-moon-a20: #a2a8b9;
  --clr-moon-a30: #e3d9ce;
  --clr-moon-a40: #f5f0e6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-moon-a40);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.header {
  text-align: center;
  font-size: 35px;
}
.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 12px 18px;
  background-color: var(--clr-moon-a30);
  color: var(--clr-moon-a0);
}

.color-box {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.selection-container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  border: 2px solid black;
}
