:root {
  --clr-moon-a0: #2a2d3f;
  --clr-moon-a10: #464a6d;
  --clr-moon-a20: #a2a8b9;
  --clr-moon-a30: #e3d9ce;
  --clr-moon-a40: #f5f0e6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-moon-a40);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.header {
  font-size: 55px;
}
.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}
